$background: #c3cfe2;
$footerbackground: #686de0;

$first: #616060;
$second: #B99D9C;
$third: #D56664;
$fourth:  #161616;

$blog:#e17b77;
$facebook: #3b5998;
$twitter: #00aced;
$github: #333;
$linked-in: #007bb6;
